/* body {
  --main-bg-color: whitesmoke;
  --players-bg-color: rgb(181, 119, 239);
  --courts-bg-color: rgb(182, 230, 133);
  --mixed-bg-color: rgb(226, 180, 165);
  --button-bg-color: darkgreen;
  --button-color: whitesmoke;
  --delete-button-bg-color: lightblue;
  --delete-button-color: whitesmoke;
}

body {
  background-color: var(--main-bg-color);
  font-size: x-large;
  padding: 0;
  margin: 0;
}

ul {
  list-style-type: none;
  margin: 0;
  margin-top: 5px;
  padding: 0; 
  overflow: auto;
}

h1 {
  font-style: normal;
  font-size: x-large;
  margin: 0;
  padding: 0;
}

div.players-back {
  padding: 5px;
  background-color: var(--players-bg-color);
}

div.courts-back {
  padding: 5px;
  background-color: var(--courts-bg-color);
}

div.mix-back {
  padding: 5px;
  background-color: var(--mixed-bg-color);
}

div.mix-block-result {
  margin: 2px;
  padding: 3px;
}

div.mix-block-result ul.resting {
  text-align: center;
  background: linear-gradient(to bottom, var(--mixed-bg-color), var(--main-bg-color), var(--mixed-bg-color));
}

div.mix-block-result li.first {
  text-align: center;
  background: linear-gradient(to bottom, var(--mixed-bg-color), var(--main-bg-color));
}

div.mix-block-result li.second {
  text-align: center;
  background: linear-gradient(to bottom, var(--main-bg-color), var(--mixed-bg-color));
  margin-bottom: 5px;
}

.players .listItem[data-active=true] {
  background: linear-gradient(to bottom, var(--main-bg-color), var(--players-bg-color));
}

.players .listItem[data-active=false] {
  background-color: var(--players-bg-color);
}

.courts .listItem[data-active=true] {
  background: linear-gradient(to bottom, var(--main-bg-color), var(--courts-bg-color));
}

.courts .listItem[data-active=false] {
  background-color: var(--courts-bg-color);
}

.listItem label {
  display: block;
  width: 100%;
}

.listItem input {
  width: 25px;
  height: 25px;
}

.listItem span {
  font-size: x-large;
  font-weight: bold;
  vertical-align: top;
  text-align: center;
}

ul.courts {
  background-color: var(--courts-bg-color);
}

ul.players {
  background-color: var(--players-bg-color);
}

ul.courts .listItem .deleteButton {
  visibility: hidden;
}

ul.players .listItem .deleteButton {
  vertical-align: text-top;
  float: right;
  margin-top: 3px;
  margin-right: 3px;
  font-weight: bold;
  background-color: var(--delete-button-bg-color);
  color: var(--delete-button-color);
  border-radius: 5px;
}

input[type=button] {
  background-color: var(--button-bg-color);
  color: var(--button-color);
  border-radius: 3px;
  border-width: 0px;
  font-weight: bold;
  font-size: large;
}

div.addNewPlayer input[type=button] {
  height: 30px;
}

div.mix-back input[type=button] {
  height: 40px;
}

div.addNewPlayer input[type=button] {
  float: right;
  margin: 2px;
}

div.addNewPlayer input[type=text] {
  display:inline-block;
  width:calc(100% - 100px);
  font-size: large;
}

div.mix-back input[type=button] {
  width: 100%;
}

div.players-filler {
  background: linear-gradient(to bottom, var(--players-bg-color), var(--main-bg-color), var(--courts-bg-color));
  height: 50px;
}

div.courts-filler {
  background: linear-gradient(to bottom, var(--courts-bg-color), var(--main-bg-color), var(--mixed-bg-color));
  height: 50px;
} */
 
ul {
  list-style-type: none;
}