body {
  background-color: whitesmoke;
  font-size: large;
  padding: 0;
  margin: 0;
}

ul {
  list-style-type: none;
  margin: 0;
  margin-top: 5px;
  padding: 0; 
  overflow: auto;
}

h1 {
  font-style: normal;
  font-size: large;
  margin: 0;
  padding: 0;
}

div.players-back {
  background: linear-gradient(to bottom, antiquewhite, whitesmoke, antiquewhite);
  padding: 5px;
}

div.courts-back {
  padding: 5px;
  background: linear-gradient(to bottom, antiquewhite, whitesmoke, antiquewhite);
}

div.mix-back {
  background: linear-gradient(to bottom, antiquewhite, whitesmoke);
  padding: 5px;
}

div.mix-block-result {
  margin: 2px;
  padding: 3px;
  background: linear-gradient(to bottom, antiquewhite, whitesmoke);
}